name: "Build and cache"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - uses: wimpysworld/nothing-but-nix@v6
        with:
          hatchet-protocol: cleave

      - uses: DeterminateSystems/nix-installer-action@main

      - uses: cachix/cachix-action@v15
        with:
          name: misty-nixpkgs-extra
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Build all packages
        env:
          NIXPKGS_ALLOW_UNFREE: 1
        run: |
          nix flake check --impure
          for pkg in $(nix flake show --json 2>/dev/null | jq -r '.packages."x86_64-linux" | keys[]' 2>/dev/null); do
            echo "Building $pkg..."
            nix build .#"$pkg" --print-build-logs
          done
